SECRET_KEY=d56f8edb722ccd6aa165725cce97eeba6723177c8dda8a2fad2209b75addf7571005be80b20e0e1c910da177b02f0623604d
DB_NAME=videocall
DB_USER=videocall
DB_PASSWORD=videocall
ALLOWED_HOSTS=localhost,127.0.0.1,*
SECURE_SSL_REDIRECT=false
POSTGRES_NAME=['database name']
POSTGRES_USER=['database username']
POSTGRES_PASS=['database user password']
POSTGRES_HOST=['database host url']
REDIS_HOST=['redis tcp url']