__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
*.sqlite3
staticfiles/
mediafiles/
.secret_key
.venv/
venv/
node_modules/

.git
__pycache__
*.pyc
venv
.venv
node_modules
db.sqlite3
staticfiles
mediafiles
.env
dump.rdb
.secret_key
.github
comms
.gitignore
ssl.key
ssl.crt
build.log
.vscode