{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Room{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <a href="{% url 'server_detail' server_slug=server.slug %}" class="text-decoration-none">&larr; Back to {{ server.name }}</a>
        <h2 class="mb-4 mt-2">Create Room</h2>
        <form method="post">{% csrf_token %}{{ form|crispy }}<button class="btn btn-primary w-100">Create</button></form>
    </div>
</div>
{% endblock %}
